{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-5 text-center">
            <h1 class="display-5 fw-bold mb-4">Model Oceny Ryzyka OSINT</h1>
            <p class="lead mb-4">Narzędzie audytowe oceniające podatność na profilowanie i ataki z wykorzystaniem technik białego wywiadu.</p>
            <hr>
            <p class="text-muted mb-5">Badanie składa się z sekcji wstępnej i 5 kategorii sprawdzających różne wektory profilowania. Odpowiedz szczerze na wszystkie pytania, aby uzyskać dokładny wynik.</p>
            <p class="text-muted mb-5">Wszystkie informacje podane w formularzu są anonimizowane i podlegają przetwarzaniu na potrzeby projektu realizowanego w Akademii Górniczo-Hutniczej w Krakowie - Wydział Informatyki, Elektroniki i Telekomunikacji. Rozpoczynając wypełnianie formularza, zgadzasz się na przetwarzanie podanych w nim danych zgodnie z polityką prywatności [TODO: link do PP]</p>
            <a href="{{ url_for('section', section_id=0) }}" class="btn btn-primary btn-lg">Rozpocznij audyt</a>
        </div>
    </div>
</div>
{% endblock %}